flask==3.1.0
flask-cors==3.0.10
werkzeug==3.1.3
Pillow==11.3.0
opencv-python==4.12.0.88
numpy==2.0.1
requests==2.32.4
uuid==1.30
transformers==4.53.3
torch==2.7.1
torchvision==0.22.1
scikit-image==0.25.2
qrcode==7.4.2
ffmpeg-python==0.2.0
imageio==2.25.0
imageio-ffmpeg==0.4.10
pywin32==305